API_KEY=your-secret-api-key
ACCESS_SECRET=your-secret-access-key
REFRESH_SECRET=your-secret-refresh-key
MOBILE_JWT_SECRET=your-secret-mobile-key
ONESIGNAL_APP_ID=your-onesignal-app-id
ONESIGNAL_API_KEY=your-onesignal-api-key

DB_HOST=postgres
DB_PORT=5432
DB_USER=your-user
DB_PASSWORD=your-password
DB_NAME=your-db-name
DB_SSLMODE=disable

BOOTSTRAP_SUPER_ADMIN_NAME=super-admin-name 
BOOTSTRAP_SUPER_ADMIN_EMAIL=super-admin-email
BOOTSTRAP_SUPER_ADMIN_PASSWORD=super-admin-password

KAFKA_BROKER=kafka:9094
KAFKA_SEND_TOPIC=notification.send.requested
KAFKA_UPDATE_TOPIC=notification.delivery.updated
